body {
    margin: 0;
    padding: 0;
    background-color: #04001b;
    color: white;
    font-family: sans-serif;
}

/* dont mark or drag images or text*/
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 
a {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}



.logo {
    position: absolute;
    top: 17px;
    left: 20px;
    height: 50px;
}

.error404 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.main404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.big {
    color: #707070;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    font-size: 150px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    text-transform: uppercase;
    letter-spacing: -20px;
}
@media only screen and (min-width: 750px) {
    .big {
        font-size: 224px;
        font-weight: 900;
    }
}

.small {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 13px;
    margin: 0;
}
@media only screen and (min-width: 750px) {
    .small {
        font-size: 42px;
        font-weight: 700;
    }
}


.button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #FD5901;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.button:hover {
    color: #8a3707;
}